body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.adspace-container img {
  height: 200px;
  width: 25%;
  float: right;
  position: fixed;
  top: 90px;
  right: 30px;
}

.title {
  position: fixed;
  top: 90px;
  right: 450px;
}

.title img {
  height: 150px;
  width: auto;
}

#sidebar {
  display: flex;
  position: fixed;
  top: 300px;
  right: 30px;
  max-width: 240px;
  border: 1px solid #182978;
  background-color: #ffffff;
  color: #182978;
  margin-left: auto;
  overflow-y: scroll;
  order: 2;
}

a:hover {
  color: #7ED5EA;
}

.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
}

.name {
  color: darkSlateGray;
}

ul.component-list {
  display: flex;
  flex-wrap: wrap;
}

li.component-item {
  display: inline;
}

.navLink {
  display: inline;
}

body {
  height: 125vh;
  font-family: sans-serif;
  background-color: #ffffff;
}

#root {
  margin-top: 80px;
  padding: 30px;
}

.main-image{
  width:100%;
  height:100%;
}

header {
  background-color: #182978;
  opacity: 90%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header * {
    display: inline;
}

header img {
  height: 65px;
  width: auto;
  margin-left: 40px;
}

header li {
  margin: 20px;
}

a {
  color: #6688CC;
}

header {
  width: 100%;
}

#mainPage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

#newsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  position: fixed;
  bottom: 100px;
}

#newsContainer > div {
  background: #4B9FE1;
  padding: 1.5rem;
  border-radius: 1rem;
}

.item-1 {
  grid-column: 1 / span 1;
  grid-row: first-line / 4;
  position: fixed;
  top: 300px;
  left: 150px;
}

.item-2 {
  grid-column: 2 / span 1;
  grid-row: second-line / 4;
  position: fixed;
  top: 300px;
  right: 300px;
}

.item-3 {
  grid-column: 3 / span 1;
  grid-row: third-line / 4;
  position: fixed;
  bottom: 70px;
  left: 150px;
}

.item-4 {
  grid-column: 4 / span 1;
  grid-row: fourth-line / 4;
  position: fixed;
  bottom: 70px;
  right: 300px;
}

.item-5 {
  grid-column: 3 / span 1;
  grid-row: third-line / 4;
  position: fixed;
  bottom: 70px;
  left: 365px;
  align-self: center;
}

#wrapper {
  height: 100%;
  width: 100%;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

img {
  width: 100px;
}
